*{
    margin: 0;
    padding: 0;
}

label, p{
font-family: 'Montserrat', sans-serif;

}

.left-side{
    background-color: lightgrey;
    width: 50%;
    height: 100vh;
    z-index: 0;
    position: relative;
    top:-92px;
    margin-bottom: -95px;
    border-right: solid 1px #D86136;
}

.right-side{
    width: 50%;
    height: 100vh;
    z-index: 0;
    position: relative;
    top:-92px;
    margin-bottom: -95px;
}

nav{
    z-index: 1;
    margin-top: -7px;
    top: 10px;
}

img{
    width: 40px;
    margin-right: 10px;
    
}

.work{
width: 300px;
background-color: lightgrey;
height: 300px;
margin: 1px;
}

.navbar-brand, .navlink{
    font-family: 'Electrolize', sans-serif;
    margin-top: -15px;
    position: relative;
    top: 20px;
}

.navbar-brand{
    position: relative;
    top: 20px;
}

.row{
    display: flex;
    margin: 0;
}

.navtext{
    line-height: 36px;
}

h1{
    font-size:2rem;
    
}

h2{
    font-size:1.5rem;
}

h1,h2,h3,h4{
    font-family: 'Electrolize', sans-serif;
}



/* hexagon */
.hexagon {
    position: absolute;
    width: 300px; 
    height: 173.21px;
    background-color: #D86136;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #D86136;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #D86136;
  }

  .container-fluid{
      padding: 0;
      margin-top:-23px;
  }

  .active{
      border-bottom: solid 1.5px #D86136;
  }

  .nav-link{
      padding-bottom: 2px;
      font-family: 'Electrolize', sans-serif;
  }

  .mywork{
      margin-top:81px;
      margin-bottom: 81px;
  }

  .about-text{
    max-width: 700px;
    margin: 0 auto;    
}

.contactform{
    max-width: 700px;
    margin: auto;
    margin-top:80px;
    margin-bottom: 40px;
}


.submit{
    width:100%;
    background-color: #D86136;
    border: none;
    transition: 0.09s all ease;
}

.submit:hover{
    transform: scale(1.1);
    background-color: #D86136;
    border: none;
    
}
  
.about-img{
    width: 200px;
    height: 200px;
    background-color: #D86136;
    margin: 0 auto;
    margin-bottom:50px;
}

.aboutmesection{
    margin-top:80px
}

.aboutmesection h3, .aboutmesection img{
    margin-bottom: 40px;
}

.inner{
    background: white;
    position: relative;
    left: -3px;
    width: 103%;
    height: 94%;
    top: 8px;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    h1 {
      font-size: 1.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
  }